<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{formPage.title}"></title>
</head>
<body>
<nav>
    <div>
        <a th:href="@{/}">
            <button type="button" th:text="#{back.button}"></button>
        </a>
    </div>
</nav>
<br>

    <form th:object="${task}" th:action="@{/tasks/new}" th:method="post">
        <label th:for="desc_input"> Description </label><br>
        <textarea type="text" id="desc_input" th:field="*{description}"></textarea><br>
        <br>
        <label th:for="category_input"> Category </label><br>
        <input type="text" id="category_input" th:field="*{category}"><br>
        <br>
        <label th:for="priority_input"> Priority </label><br>
        <input type="number" id="priority_input" th:field="*{priority}"><br>
        <br>
        <label th:for="date_input"> DeadLine</label><br>
        <input type="date" id="date_input" th:field="*{dueDate}"><br>
        <br>


        <button type="submit">Create</button>

    </form>



</body>
</html>