<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{formPage.title}"></title>
</head>
<body>
<h2 th:text="#{succesPage.succes}"></h2>
<nav>
    <div>
        <a th:href="@{/}">
            <button type="button" th:text="#{back.button}"></button>
        </a>
    </div>
</nav>

<h2 th:text="#{succesPage.newTask}"></h2>

<div>
    <a th:href="@{/tasks/new}">
        <button type="button" th:text="#{add.button}"></button>
    </a>
</div>
</nav>

</body>
</html>