<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{mainPage.title}"></title>
  <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1 th:text="#{mainPage.headline}"></h1>

<div>
  <a th:href="@{/addNewTask}">
    <button type="button" th:text="#{add.button}"></button>
  </a>
</div>
<br>

<table>
  <tr>
    <th th:text="#{task.id}"></th>
    <th th:text="#{task.description}"></th>
    <th th:text="#{task.category}"></th>
    <th th:text="#{task.priority}"></th>
    <th th:text="#{task.date}"></th>
  </tr>
  <tr th:each="task : ${tasks}">
    <td th:text="${task.id}"></td>

  </tr>
</table>

</body>
</html>